.about {
  width: 74.5%;
  height: 70vh;
  border-top: 1px solid #61892f;
  border-bottom: 1px solid #61892f;
  background: #222629;
  margin-left: 400px;
  display: flex;
  justify-content: space-between;
}

.about img {
  width: 305px;
  height: 305px;
}

.about h1 {
  background-color: transparent;
}

.contentbox {
  margin: 120px 100px;
  width: 800px;
  height: 200px;
}

.contentbox p {
  font-size: 20px;
  color: #86c232;
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 390px) {
  .about {
    margin-left: 0px;
    width: 100%;
  }
  .about img {
    width: 160px;
    height: 160px;
  }
  .contentbox {
    margin: 10px 8px;
    width: 200px;
    height: 100px;
  }
  .contentbox p {
    font-size: 24px;
    color: #86c232;
  }
}
