.container {
  background: #222629;
}

.projectSContainer {
  margin-left: 250px;
  display: flex;
  flex-wrap: wrap;
}

.main {
  position: fixed;
  top: 10px;
  font-size: 80px;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  align-items: center;
  color: #86c232;
  font-weight: 600;
  font-family: 'Aboreto';
  line-height: 2;
  padding-right: 26px;
  min-width: 414px;
}

.main p {
  position: relative;
  z-index: 2;
  color: #86c232;
  padding-right: 25px;
  text-align: center;
}

/* 
.second h1 {
  z-index: 0;
  position: relative;
  background-color: transparent;
} */

.introContainer {
  height: 99vh;
  width: 100%;
  z-index: 6;
  text-align: center;
}

.second {
  width: 100%;
  height: 100vh;
}

.third {
  position: relative;
  z-index: 20;
  width: 100%;
  height: 100vh;
}

.projectContainer {
  min-height: 100vh;
  position: sticky;
  top: 69px;
  z-index: 30;
  width: 100%;
  background: #222629;
  border-top: 1px solid #86c232;
  display: flex;
  justify-content: center;
}

.projectContainer h1 {
  line-height: 8;
  color: #86c232;
  font-size: 7rem;
  letter-spacing: 8px;
  font-family: 'Aboreto';
  min-height: 100vh;
  background: #222629;
}

.introContainertwo {
  position: absolute;
  z-index: 100;
  height: 99vh;
  width: 100vw;
}

.projectContainerthrid {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;

  background-color: #222629;
}

@media (max-width: 980px) {
  .main p {
    font-size: 3.3rem;
  }
}

@media (max-width: 390px) {
  .projectContainer h1 {
    font-size: 2rem;
    line-height: 10;
  }
  .main p {
    font-size: 1rem;
  }
  .main {
    padding: 2px auto;
    min-width: 390px;
  }
}

/* @media (max-width: 1490px) {
  .projectContainerthrid {
    padding-left: 50px;
  }
} */

@media (max-width: 1190px) {
  .projectContainerthrid {
    justify-content: center;
  }
}
@media (max-width: 680px) {
  .projectSContainer {
    margin: 0 auto;
  }
  .projectContainer h1 {
    font-size: 4rem;
    line-height: 10;
  }
  .main p {
    font-size: 2rem;
  }
  .main {
    padding: 10px auto;
  }
  .projectContainerthrid {
    padding-left: -10px;
  }
}
