.projectBoxmainContainer {
  width: 600px;
  height: 420px;
  border: 2px solid #86c232;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0px 100px 80px 100px;
  background: #222629;
  transform: rotateX(0deg);
  transition: transform 0.7s ease-out;
  position: relative;
  z-index: 30;
  text-align: center;
}

.projectBoxmainContainer.rotate {
  transform: rotateX(90deg);
}

.projectBoxmainContainer:nth-of-type(1) {
  margin-top: 100px;
}
.projectBoxmainContainer:nth-of-type(2) {
  margin-top: -140px;
}
.projectBoxmainContainer:nth-of-type(3) {
  margin-top: 70px;
}
.projectBoxmainContainer:nth-of-type(4) {
  margin-top: 70px;
}
.projectBoxmainContainer:nth-of-type(5) {
  margin-top: 70px;
}

.imageBox {
  width: 85%;
  margin-top: 0.5rem;
  border-radius: 5px;
}

.imageBox img {
  width: 100%;
  border-radius: 5px;
}

.imageBox video {
  width: 100%;
  border-radius: 5px;
}

.nameBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
}

.nameBox h3 {
  color: #86c232;
  padding: 10px 10px;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}
.nameBox h4 {
  color: #86c232;
  margin-right: 10px;
  font-family: 'Open Sans', sans-serif;
}

.nameBox a {
  color: #86c232;
  margin-right: 10px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

.descriptionBox h4 {
  color: #86c232;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 550px) {
  .projectBoxmainContainer {
    min-width: 100%;
    max-height: 380px;
    margin: 0px 10px;
  }
}

/* @media (max-width: 1390px) {
  .projectBoxmainContainer {
    width: 450px;
    height: 370px;
  }
}
@media (max-width: 390px) {
  .projectBoxmainContainer {
    min-width: 335px;
    max-height: 360px;
  }
  .imageBox {
    margin-bottom: -30px;
  }
}  */
